#header2 {
    background: linear-gradient(135deg, #4b6cb7, #182848);
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  
  #header2 h1 {
    font-size: 3.5em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  #header2 p {
    font-size: 1.4em;
    margin-top: 20px;
  }
  
  .cta-button2 {
    display: inline-block;
    margin-top: 40px;
    padding: 12px 30px;
    background-color: #3d537e;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover2 {
    background-color: #d65f00;
  }
  
  /* Chakra Section */
  .chakra-section2 {
    background-color: #e0e0e0;
    padding: 60px 20px;
    text-align: center;
  }
  
  .chakra-section2 h2 {
    font-size: 2.5em;
    color: #4b6cb7;
  }
  
  .chakra-section2 p {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
  }
  
  /* Image Section */
  .image-section2 {
    text-align: center;
    padding: 40px 20px;
  }
  
  .image-section2 img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Impact Section */
  .impact-section2 {
    padding: 60px 20px;
    text-align: center;
    background-color: #f5f5f5;
  }
  
  .impact-section2 h2 {
    font-size: 2.5em;
    color: #182848;
  }
  
  .impact-section2 p {
    font-size: 1.4em;
    color: #555;
    margin-top: 20px;
  }
  
  .impact-section2 ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.1em;
    color: black
  }
  
  .impact-section2 li {
    margin: 10px 0;
  }
  
  /* Footer */
  #footer2 {
    background-color: #4b6cb7;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#footer2 a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

#footer2 a:hover {
    text-decoration: underline;
}
