
#header3 {
    background-color: #116479;
    color: white;
    padding: 20px;
    text-align: center;
    color: white;
}

#header3 h1 {
    font-size: 2.5em;
    color: white;
}

#intro3, #technology3, #action3{
    color: black;
}
section {
    padding: 20px;
    margin: 20px;
}

#chakra-image3 img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

#button3 {
    background-color: #357b8d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

#button3:hover {
    background-color: #116479;
}


 /* Footer */
 #footer3 {
    background-color: #116479;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#footer3 a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

#footer3 a:hover {
    text-decoration: underline;
}